{% extends 'base/base.html' %}
{% load static %}

{% block body %}
<div style="text-align: center;">
    <img src="{% static 'images/Spirit-Of-Diwali.png' %}" class="img-fluid" alt="Responsive image" height="85%" width="85%">
</div>
<div style="text-align: center;">
    <a href="https://diwali.spiritevnts.com.au/" class="btn mt-3 mr-3" style="background-color: #3A8E9D; color: black;">Vendor Registration</a>
    <a href="http://visiting.spiritevnts.com.au/" class="btn mt-3" style="background-color: #3A8E9D; color: black;">Free Entry Ticket</a>
</div>
{% endblock %}
